.ant-btn {
    font-weight: bold;
    border: 0;

    &.light {
        background-color: white;
    }

    &.primary {
        background-color: var(--primary-color-3);
        color: white;
    }

    &.focused {
        background-color: white;
        border: 2px solid var(--primary-color-3);
        color: var(--primary-color-3);

        &.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
            background-color: white;
            border-color: var(--primary-color-3);
            color: var(--primary-color-3);
        }
    }

    &.secondary {
        background-color: var(--primary-color-4);
    }

    &.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
        background-color: var(--primary-color-4);
        border-color: white;
        color: white;
    }
}